# Importing library

In [138]:
# Load the Pandas libraries with alias 'pd'
import pandas as pd

### 1. Reads the data from your local file directory

In [139]:
# Read data from file 'filename.csv' 
inv_data = pd.read_csv('warehouse_inventory.csv')

In [140]:
# Preview the first 5 lines of the loaded data from the top
inv_data.head()

         date        sku warehouse_location  quantity
0  2021-01-02  100940478              lagos        23
1  2020-11-09  100940479              lagos        84
2  2021-01-15  100940480                oyo        11
3  2016-11-09  100940481               ogun        98
4  2017-04-04  100940482               ogun        23

In [141]:
# Preview the first 5 lines of the loaded data from the bottom
inv_data.tail()

         date        sku warehouse_location  quantity
5  2018-01-13  100940483               abia         3
6  2021-03-15  100940484             kaduna         7
7  2021-01-11  100940485              abuja         4
8  2021-02-16  100940486               kano         9
9  2019-06-06  100940487            anambra       199

In [142]:
# checking data informations
inv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
date                  10 non-null object
sku                   10 non-null int64
warehouse_location    10 non-null object
quantity              10 non-null int64
dtypes: int64(2), object(2)
memory usage: 400.0+ bytes

In [143]:
#checking the column date
inv_data['date']

0    2021-01-02
1    2020-11-09
2    2021-01-15
3    2016-11-09
4    2017-04-04
5    2018-01-13
6    2021-03-15
7    2021-01-11
8    2021-02-16
9    2019-06-06
Name: date, dtype: object

### 2. Adds a new column named [obsolete]. The column should flag TRUE, indicating an item is expired and FALSE, otherwise

In [144]:
# checking the head of the data
inv_data.head()

         date        sku warehouse_location  quantity
0  2021-01-02  100940478              lagos        23
1  2020-11-09  100940479              lagos        84
2  2021-01-15  100940480                oyo        11
3  2016-11-09  100940481               ogun        98
4  2017-04-04  100940482               ogun        23

In [145]:
#cheking expired row
inv_data1 = inv_data.loc[inv_data['date'] < '2021-01-01']

In [146]:
inv_data1.head()

         date        sku warehouse_location  quantity
1  2020-11-09  100940479              lagos        84
3  2016-11-09  100940481               ogun        98
4  2017-04-04  100940482               ogun        23
5  2018-01-13  100940483               abia         3
9  2019-06-06  100940487            anambra       199

In [147]:
#checking unexpired row
inv_data2 = inv_data.loc[inv_data['date'] >= '2021-01-01']

In [148]:
inv_data2.head()

         date        sku warehouse_location  quantity
0  2021-01-02  100940478              lagos        23
2  2021-01-15  100940480                oyo        11
6  2021-03-15  100940484             kaduna         7
7  2021-01-11  100940485              abuja         4
8  2021-02-16  100940486               kano         9

In [149]:
#A lambda function to get the obsolete of the data
inv_data['obsolete']=inv_data['date'].apply(lambda x: 'True' if x < "2021-01-01" else 'False')

In [150]:
inv_data.head()

         date        sku warehouse_location  quantity obsolete
0  2021-01-02  100940478              lagos        23    False
1  2020-11-09  100940479              lagos        84     True
2  2021-01-15  100940480                oyo        11    False
3  2016-11-09  100940481               ogun        98     True
4  2017-04-04  100940482               ogun        23     True

### 3. Transform the output data to a JSON format

In [151]:
#saving the final output as a json file
final_inv_data = inv_data.to_json()

### 4. Store the data in your local directory

In [152]:
import json

In [153]:
#saving to the local computer
with open('warehouse_inventory.json', 'w') as outfile:
    json.dump(final_inv_data, outfile)